@page "/administration"
@using FantasyAuction.Shared
@using BlazorTable
@using FantasyAuction.Client.Entities
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavigationManager
@inject SpinnerService SpinnerService
@inject HttpClient Http
@implements IDisposable

<style>
    .players .table-responsive {
        height: 70vh;
    }

    .bids .table-responsive {
        height: 30vh;
    }
</style>

<div class="container-fluid">
    <div class="justify-content-center row">
        <h1>Gestione asta</h1>
    </div>

    <div class="justify-content-center row">
        <div class="col-12">
            @if (!AuctionState)
            {
                <button @onclick="StartAutomaticAuction"
                        class="btn btn-primary">
                    Inizio asta automatica
                </button>
            }
            else
            {
                <button @onclick="EndAuction"
                        class="btn btn-danger">
                    Fine asta automatica
                </button>
            }
            <button class="btn btn-warning"
                    @onclick="RefreshPlayers">
                Ricarica dati dei giocatori
            </button>
        </div>
    </div>

    <div class="mt-3 row">
        <div class="col-12 players">
            <Table Items="Players"
                   PageSize="15"
                   TableItem="Player">
                <Column Field="@(x => x.Img)"
                        Filterable="true"
                        Sortable="true"
                        TableItem="Player"
                        Title="Immagine"
                        Width="20%">
                    <Template>
                        <img src="@context.Img" />
                    </Template>
                </Column>
                <Column Field="@(x => x.Name)"
                        Filterable="true"
                        Sortable="true"
                        TableItem="Player"
                        Title="Nome"
                        Width="20%" />
                <Column Field="@(x => x.Cost)"
                        Filterable="true"
                        Sortable="true"
                        TableItem="Player"
                        Title="Costo indicato"
                        Width="20%" />
                <Column Field="@(x => x.Team.Name)"
                        Filterable="true"
                        Sortable="true"
                        TableItem="Player"
                        Title="Squadra"
                        Width="20%" />
                <Column Field="@(x => x.Role)"
                        Filterable="true"
                        Sortable="true"
                        TableItem="Player"
                        Title="Ruolo"
                        Width="15%">
                </Column>
                <Column Field="@(x => x.SpecificRole)"
                        Filterable="false"
                        Sortable="true"
                        TableItem="Player"
                        Title="Ruolo specifico"
                        Width="15%">
                </Column>
                <Column Field="@(x => x.Id)"
                        Filterable="false"
                        Sortable="false"
                        TableItem="Player"
                        Title="Azioni"
                        Width="10%">
                    <Template>
                        <button class="btn btn-secondary"
                                disabled="@AuctionState"
                                @onclick="() => StartPlayerNegotiation(context)">
                            Negozia giocatore
                        </button>
                    </Template>
                </Column>
                <Pager ShowPageNumber="true"
                       ShowTotalCount="true" />
            </Table>
        </div>
    </div>
</div>

<Modal @ref="Modal">
    <Title>Negoziazione di @CurrentPlayer?.Name</Title>
    <Body>
        <div class="bids">
            <Table Items="Bids"
                   PageSize="15"
                   TableItem="Bid">
                <Column Field="@(x => x.Amount)"
                        Filterable="true"
                        Sortable="true"
                        TableItem="Bid"
                        Title="Offerta"
                        Width="20%" />
                <Column Field="@(x => x.Bidder)"
                        Filterable="true"
                        Sortable="true"
                        TableItem="Bid"
                        Title="Nome offerente"
                        Width="20%" />
                <Pager ShowPageNumber="true"
                       ShowTotalCount="true" />
            </Table>
        </div>
    </Body>
    <Footer>
        <button class="btn btn-secondary"
                data-dismiss="modal"
                @onclick="ClearPlayer"
                type="button">
            Close
        </button>
    </Footer>
</Modal>

@code {
    private Player[] Players;
    private bool AuctionState;
    private Player CurrentPlayer;
    private Bid[] Bids;

    private Modal Modal { get; set; }

    private HubConnection _hubConnection;

    protected override async Task OnInitializedAsync()
    {
        Bids = new Bid[] { };
        Players = await Http.GetFromJsonAsync<Player[]>("api/Auction/GetPlayers");

        _hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/auction-hub"))
            .Build();

        await _hubConnection.StartAsync();
    }

    private async void StartAutomaticAuction()
    {
        _hubConnection.On("AuctionEnded", () =>
        {
            _hubConnection.Remove("AuctionEnded");
            AuctionState = false;
            StateHasChanged();
        });

        await Http.PatchAsync($"api/Auction/StartAuction", null);
        AuctionState = true;
        StateHasChanged();
    }

    private async void StartPlayerNegotiation(Player player)
    {
        SpinnerService.Show();
        CurrentPlayer = player;
        Modal.Open();

        _hubConnection.On<Bid>($"ReceivedBid-{player.Id}", bid =>
        {
            Bids = Bids.Append(bid).ToArray();
            StateHasChanged();
        });

        await Http.PatchAsync($"api/Auction/StartPlayerNegotiation/{player.Id}", null);
    }

    private async void RefreshPlayers()
    {
        await Http.PatchAsync($"api/Auction/RefreshPlayersData", null);
        Players = await Http.GetFromJsonAsync<Player[]>("api/Auction/GetPlayers");
        StateHasChanged();
    }

    private async void EndAuction()
    {
        await Http.PatchAsync($"api/Auction/EndAuction", null);
    }

    private void ClearPlayer()
    {
        _hubConnection.Remove($"ReceivedBid-{CurrentPlayer.Id}");
        SpinnerService.Hide();
        CurrentPlayer = null;
        Bids = new Bid[] { };
        Modal.Close();

        StateHasChanged();
    }

    public void Dispose()
    {
        _ = _hubConnection.DisposeAsync();
    }

}