@page "/gestione"
@using FantaAsta.Shared
@inject HttpClient Http

<h1>Amministrazione asta</h1>

<button onclick="@InizioAstaAutomatica()">Inizio asta automatica</button>

@if (Giocatori != null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Nome giocatore</th>
                <th>Costo</th>
                <th>Squadra</th>
                <th>Azioni</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var giocatore in Giocatori)
            {
                <tr>
                    <td><img src="@giocatore.Img" /></td>
                    <td>@giocatore.Nome</td>
                    <td>@giocatore.Costo</td>
                    <td>@giocatore.Squadra.Nome</td>
                    <td>
                        <button disabled="@AstaInCorso()" onclick="@NegoziaGiocatore(giocatore.Id)">Negozia giocatore</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    public Giocatore[] Giocatori;

    protected override async Task OnInitializedAsync()
    {
        Giocatori = await Http.GetFromJsonAsync<Giocatore[]>("FantaAsta/Giocatori");
    }

    private async Task InizioAstaAutomatica()
    {
        await Http.PatchAsync($"FantaAsta/InizioAstaAutomatica", null);
    }

    private async Task NegoziaGiocatore(string giocatoreId)
    {
        await Http.PatchAsync($"FantaAsta/Giocatori?id={giocatoreId}", null);
    }

    private async Task AstaInCorso()
    {
        await Http.PatchAsync($"FantaAsta/AstaInCorso", null);
    }
}
