@page "/summary"
@using FantasyAuction.Shared
@using BlazorTable
@inject HttpClient Http

<style>
    .players .table-responsive {
        height: 70vh;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <h1>Riepilogo asta</h1>
    </div>

    <div class="justify-content-center row">
        <div class="col-12">
            <button @onclick="ClearSoldPlayers"
                    class="btn btn-danger">
                Eliminare il riepilogo giocatori
            </button>
            <button class="btn btn-primary"
                    @onclick="RefreshSoldPlayersList">
                Ricarica i giocatori venduti
            </button>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-12 players">
            <Table Items="SoldPlayers"
                   PageSize="15"
                   TableItem="SoldPlayer">
                <Column Field="@(x => x.Player.Img)"
                        Filterable="true"
                        Sortable="true"
                        TableItem="SoldPlayer"
                        Title="Immagine"
                        Width="20%">
                    <Template>
                        <img src="@context.Player.Img" />
                    </Template>
                </Column>
                <Column Field="@(x => x.Player.Name)"
                        Filterable="true"
                        Sortable="true"
                        TableItem="SoldPlayer"
                        Title="Nome"
                        Width="20%" />
                <Column Field="@(x => x.BiddingWinner)"
                        Filterable="true"
                        Sortable="true"
                        TableItem="SoldPlayer"
                        Title="Offerente"
                        Width="20%" />
                <Column Field="@(x => x.OfferAmount)"
                        Filterable="true"
                        Sortable="true"
                        TableItem="SoldPlayer"
                        Title="Offerta"
                        Width="20%" />
                <Pager ShowPageNumber="true"
                       ShowTotalCount="true" />
            </Table>
        </div>
    </div>
</div>

@code {
    public SoldPlayer[] SoldPlayers;

    protected override async Task OnInitializedAsync()
    {
        SoldPlayers = await Http.GetFromJsonAsync<SoldPlayer[]>("api/Auction/GetSoldPlayers");
    }

    private async void RefreshSoldPlayersList()
    {
        SoldPlayers = await Http.GetFromJsonAsync<SoldPlayer[]>("api/Auction/GetSoldPlayers");
    }

    private async void ClearSoldPlayers()
    {
        await Http.PatchAsync("api/Auction/ClearSoldPlayers", null);
        RefreshSoldPlayersList();
    }

}